{% extends 'base.html' %} {% block content %}

<div class="container w-100 d-flex flex-column justify-content-center">
  <h2 class="display-6 text-center mt-5">Add an Application</h2>
  <form class="row g-1" action="{{ url_for('application') }}" method="POST">
    <div class="col">
      <label class="form-label" for="application-date">Application Date:</label>
      <input
        class="form-control"
        type="date"
        id="application-date"
        name="application_date"
        required
      />
    </div>
    <div class="col">
      <label class="form-label" for="status">Status:</label>
      <select class="form-select" id="status" name="status" required>
        <option value="" disabled selected>Select a status</option>
        <option value="Pending">Pending</option>
        <option value="Accepted">Accepted</option>
        <option value="Rejected">Rejected</option>
      </select>
    </div>
    <div class="row g-1">
      <div class="col">
        <label class="form-label" for="notes">Notes:</label>
        <textarea
          class="form-control"
          id="notes"
          name="notes"
          placeholder="Enter notes here..."
          required
        ></textarea>
      </div>
    </div>
    <div class="row g-1 justify-content-center">
      <div class="col-4 m-2">
        <button class="btn btn-primary w-100" type="submit">
          Add Application
        </button>
      </div>
    </div>
  </form>
</div>

<!-- <h2 class="display-6 text-center mt-5">List of Applications</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Website</th>
      <th scope="col">Industry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for company in companies %}
      <td>{{ company.name }}</td>
      <td>{{ company.website }}</td>
      <td>{{ company.industry }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table> -->
{% endblock %}
