{% extends 'base.html' %} {% block content %}
<div class="container w-100 d-flex flex-column justify-content-center">
  <div class="accordion mt-5" id="accordionOne">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Add a Company
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionOne"
      >
        <div class="accordion-body">
          <form class="row g-1" action="{{ url_for('company') }}" method="POST">
            <div class="col">
              <label class="form-label" for="company-name">Company Name:</label>
              <input
                class="form-control"
                type="text"
                id="company-name"
                name="company_name"
                required
              />
            </div>
            <div class="row g-1">
              <div class="col">
                <label class="form-label" for="website">Website:</label>
                <input
                  class="form-control"
                  id="website"
                  type="text"
                  name="website"
                  required
                />
              </div>
            </div>
            <div class="row g-1">
              <div class="col">
                <label class="form-label" for="industry">Industry:</label>
                <input
                  class="form-control"
                  type="text"
                  id="industry"
                  name="industry"
                  required
                />
              </div>
            </div>
            <div class="row g-1 justify-content-center">
              <div class="col-4 m-2">
                <button class="btn btn-primary w-100" type="submit">
                  Add Company
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          List of Companies
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionOne"
      >
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Website</th>
                <th scope="col">Industry</th>
              </tr>
            </thead>
            <tbody>
              {% for company in companies %}
              <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.industry }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
