{% extends 'base.html' %} {% block content %}
<div class="container w-100 d-flex flex-column justify-content-center">
  <h2 class="display-6 text-center mt-5">Add Job</h2>
  <form class="row g-1" action="{{ url_for('job') }}" method="POST">
    <div class="col">
      <label class="form-label" for="job-title">Job Title:</label>
      <input
        class="form-control"
        type="text"
        id="job-title"
        name="job_title"
        required
      />
    </div>
    <div class="col">
      <label class="form-label" for="company">Company:</label>
      <select class="form-control" id="company" name="company_id" required>
        <option value="" disabled selected>Select a company</option>
        {% for company in companies %}
        <option value="{{ company.id }}">{{ company.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="row g-1">
      <div class="col">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="location"
          required
        />
      </div>
      <div class="col">
        <label class="form-label" for="date-posted">Date Posted:</label>
        <input
          class="form-control"
          type="date"
          id="date-posted"
          name="date_posted"
          required
        />
      </div>
      <div class="col">
        <label class="form-label" for="deadline">Deadline:</label>
        <input
          class="form-control"
          type="date"
          id="deadline"
          name="deadline"
          required
        />
      </div>
      <div class="col">
        <label class="form-label" for="salary">Salary:</label>
        <input
          class="form-control"
          type="number"
          id="salary"
          name="salary"
          min="0"
          placeholder="50000"
          required
        />
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          required
        ></textarea>
      </div>
    </div>
    <div class="row g-1 justify-content-center">
      <div class="col-4 m-2">
        <button class="btn btn-primary w-100" type="submit">Add Job</button>
      </div>
    </div>
  </form>
</div>

<h2 class="display-6 text-center mt-5">List of Jobs</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Job Title</th>
      <th scope="col">Company</th>
      <th scope="col">Location</th>
      <th scope="col">Date Posted</th>
      <th scope="col">Deadline</th>
      <th scope="col">Salary</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for job in job_listings %}
      <td>{{ job.title }}</td>
      <td>{{ job.name }}</td>
      <td>{{ job.location }}</td>
      <td>{{ job.date_posted }}</td>
      <td>{{ job.deadline }}</td>
      <td>${{ job.salary }}</td>
      <td>{{ job.description }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}
