{% extends 'base.html' %} {% block content %}
<form class="row g-3" action="{{ url_for('register') }}" method="POST">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label" for="first-name">First Name:</label>
      <input
        class="form-control"
        type="text"
        id="first-name"
        name="first_name"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="last-name">Last Name:</label>
      <input
        class="form-control"
        type="text"
        id="last-name"
        name="last_name"
        required
      />
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-12">
      <label class="form-label" for="email">Email:</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label" for="username">Username:</label>
      <input
        class="form-control"
        type="text"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="password">Password:</label>
      <input
        class="form-control"
        type="password"
        id="password"
        name="password"
        required
      />
    </div>
  </div>
  <div class="row g-3 justify-content-center">
    <div class="col-md-4 text-center">
      <button class="btn btn-primary w-100" type="submit">Register</button>
    </div>
  </div>
</form>
<p class="text-center m-2">
  Already have an account?
  <a class="link-opacity-100" href="{{ url_for('login') }}">Login</a>
</p>
{% endblock %}